<html>
    <head>
        <title>First Page</title>
    </head>
    <body>
        <h1>This is heading 1</h1>
        <h2> This is heading 2</h2>
        <h3> This is heading 3</h3>
        <h4> This is heading 4</h4>
        <h5> This is heading 5</h5>
        <h6> This is heading 6</h6>

        <p>This is paragraph</p>
        <h1>Fruites List :</h1>
        <ol type="i">
            <li>Mango</li>
            <li>Banana</li>
            <li>Apple</li>
        </ol>

        <h1>Product List:</h1>
        <ul type="square">
            <li>Mobile</li>
            <li>Tv</li>
            <li>Laptop</li>
        </ul>

        <h1>Student Information</h1>
<table border="1">
   <tr>
    <th> id </th>
    <th> name </th>
    <th>marks</th>
    <th> city</th>
   </tr>
   <tr>
     <td>1</td>
     <td>john</td>
     <td>67</td>
     <td>pune</td>
   </tr>
   <tr>
     <td>2</td>
     <td>blake</td>
     <td>56</td>
     <td>mumbai</td>
   </tr>
<table>
    </body>
</html>