<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- inline css -->
    <style>
        /* table{
            border:2px solid rgb(68, 73, 169);
              border-collapse: collapse;
        }
        tr{
            height:50px;
        }
        td{
            width:100px;
            background-color: yellow;
        } */
       
    </style>
</head>
<body>
    <!-- //internal css -->
    <h1 style="color:red;background-color: black;text-align: center;">Login Form</h1>
    <center>
    <form>
        <table>
            <tr>
                <td><lable for="name">Username</lable></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><lable for="pass">Password</lable></td>
                <td><input type="password"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>
    </form>
    </center>
</body>
</html>