<html>
    <head>
        <title>First Page</title>
        <style>
            input[type="text"]
            {
                background-color: yellow;
                color:red;
            }
             input[type="password"]
            {
                background-color: blue;
                color:red;
            }
        </style>
    </head>
    <body>
        <h1>Registration form</h1>
        <label>Name:</label>
        <input type="text">  <br><br>

        <lable>Email:</lable>
        <input type="email"> <br><br>

        <lable>Mobile no:</lable>
        <input type="number"> <br><br>

        <lable>Password</lable>
        <input type="password"><br><br>

        <label>Course:</label>
        <input type="checkbox" id="python" name="python">Python 
        <input type="checkbox" id="java" name="java">Java
        <input type="checkbox" id="mern" name="mern">MERN stack <br><br>

        <lable>Gender:</lable>
        <input type="radio" id="male" name="gender" value="male">Male
        <input type="radio" id="female" name="gender" value="female">Female <br><br>

        <lable>City:</lable>
        <select>
            <option>Pune</option>
            <option>Mumbai</option>
            <option>Satara</option>
            <option>Nagar</option>
            <option>Nashik</option>
        </select><br><br>

        <lable>Birth Date:</lable>
        <input type="date" id="bdate" name="bdate"><br><br>
        
        <lable>Birth Time:</lable>
        <input type="time" id="btime" name="btime"><br><br>

        <lable>Choose File:</lable>
        <input type="file"><br><br>

        <input type="submit" value="submit">
         <button>Login</button>


    </body>
</html>